html, body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    background:linear-gradient(to bottom, rgb(203, 192, 198), rgb(242, 250, 253));background: linear-gradient(rgb(203, 192, 198), rgb(242, 250, 253));
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
header{
    background-image: url('image/neren12.png');
    background-position: center 20px;
    background-size: cover;
    background-position: center;
    height: 850px;
    overflow: hidden; 
    position: relative; 
	padding: 0 8%;
	
}
.images-container{
	width:800px;
}

.bote{
	color:white;
}

.asteal{
	width:58%;
	height:auto;
	transform: translateX(-60px);
	transform: translateY(-120px);
}

.text-box{
	position: absolute;
	bottom: 8%;
	font-family:myfont;
	font-weight:100px;
	margin-left: -25px;
}
.text-box h1{
	font-size:140px;
	line-height: 150px;
	color: rgb(242,225,180);
	padding:90px;
	transform: translateX(-100px);
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	background:url(image/ROT.gif);
	-webkit-background-clip:text;
}

.text-box h3{
	font-size:40px;
	font-weight:500;
}
.big-image2{
	margin-left:80%;
	margin-top:-990px;
	padding: 101px;
	transform: translateY(-49px);
	max-width:100%;
}
.big-image22{
	margin-right:90%;
	margin-top:-990px;
	padding: 10px;
	transform: translateY(-49px);
	transform: translate(-500px);
	height: 900px;
}
.astea{

	max-width:100%;
	height:300px;
	width: 300px;
	padding: 70px;
	width:700px;

}

.logo{
	width:50px;
	cursor:pointer;
}
.section-heading{
	color: rgb(31,17,11);
	font-family:poppins;
	font-size: 20px;
	color:rgb(27,20,17);
}
h1{
	font-size: 90px;
	color: white;
}
.ham{
	font-family:poppins;
	font-size: 20px;
	color:rgb(27,20,17);
}
header img{ 
	width: 300px;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}
.yeager{
	font-family:poppins;
	font-size: 20px;
	color:rgb(27,20,17);
}
.han{
	font-size:16px;
	font-family:roboto;
}
.hin{
	font-size:16px;
	font-family:roboto;
}
.hen{
	font-size:16px;
	font-family:roboto;
}
img.big-image{
	max-width: 100%;
	 border: 2px solid rgb(107, 55, 85);
	
}
.big-image3{
	max-width: 100%;
	 border: 2px solid rgb(107, 55, 85);
}
.erene{
	max-width: 100%;
	 border: 2px solid rgb(107, 55, 85);
}
p.caption{
	color: rgb(27,20,17);
	font-style: italic;
	font-family:poppins;
	font-size: 16px;
}
.ern{
	font-family: roboto;
	text-indent:70px;
	font-size:16px;
}
.footer-credit {
  color: white;
  font-size:16px;
}
.bot{
	color:white;
	font-size:16px;
}
ol li{
	font-family: roboto;
	font-size: 16px;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: red;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: rgb(27,20,17);
	font-size: 20px;
}
footer ul{
	text-align: center;
	font-size: 20px;
}
footer ul li{
	display: inline-block;
	margin: 0 5px;

}
